<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= library_title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="bg-light">
    <header>
      <nav class="navbar navbar-dark bg-light" aria-label="Main navigation">
    <div class="container-fluid p-0">
      <div class="navbar-brand"><%= link_to library_title, root_path %></div>

      <% if current_user %>
          <ul class="navbar-nav">
            <li class="nav-item"><%= link_to "all books", books_path, class: "nav_class" %></li>
            <li class="nav-item"><%= link_to "new book", new_book_path, class: "nav_class" %></li>
          </ul>

          <ul class="navbar-nav">
            <li class="nav-item">
              <%= link_to user_path(current_user), class: "nav_class" do %>
                <span class="name"><%= current_user.name %></span> <span class="loan_count">(<%= current_user.copies.count %>)</span>
              <% end %>
            </li>
            <li><%= link_to "sign out", sign_out_path %></li>
          </ul>

          <div class="clear"></div>
      <% end %>
  </div>
      </nav>

    </header>

    <% flash.each do |id, message| %>
    <div class="flash flash_<%= id %> wrap">
      <%= message %>
    </div>
    <% end %>

    <%= yield %>
</body>
</html>
